# --- Cœur du projet Django ---
Django==5.1.5
gunicorn==23.0.0
whitenoise==6.8.2
python-dotenv==1.0.1
dj-database-url==2.3.0
asgiref==3.8.1
sqlparse==0.5.3
tzdata==2025.1

# --- Gestion des Images et PDF (Hôpital/Factures) ---
Pillow==11.1.0
xhtml2pdf==0.2.16
reportlab==4.2.5
pypdf==5.1.0
qrcode==8.0
svglib==1.5.1
arabic-reshaper==3.0.0
python-bidi==0.4.2

# --- Connexion Base de données et Réseau ---
psycopg2-binary==2.9.10
requests==2.32.3
urllib3==2.3.0
certifi==2025.1.31
idna==3.10
charset-normalizer==3.4.1

# --- Sécurité et Signature (Documents médicaux) ---
cryptography==44.0.0
pyHanko==0.25.0
PyYAML==6.0.2