<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Liste des Patients - G-HOSPITAL</title>
  <link rel="stylesheet" href="{% static 'back/assets/css/app.min.css' %}">
  <link rel="stylesheet" href="{% static 'back/assets/bundles/datatables/datatables.min.css' %}">
  <link rel="stylesheet" href="{% static 'back/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'back/assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'back/assets/css/components.css' %}">
  <link rel="stylesheet" href="{% static 'back/assets/css/custom.css' %}">
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'back/assets/img/favicon.ico' %}" />
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      {% include "back/query/nav.html" %}
      {% include "back/query/sidebar.html" %}

      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header d-flex justify-content-between">
                    <h4>Liste des patient(e)s</h4>
                    <a href="{% url 'patientAdd' %}" class="btn btn-icon icon-left btn-primary">
                      <i class="fas fa-plus"></i> Nouveau Patient
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Noms</th>
                            <th>Sexe</th>
                            <th>Âge</th>
                            <th>Service</th>
                            <th>Date d'Enreg.</th>
                            <th>Téléphone</th>
                            <th class="text-center">Actions / Paiements</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for patient_item in lst|dictsortreversed:"id" %}
                          <tr>
                            <td>{{ patient_item.id }}</td>
                            <td><strong>{{ patient_item.noms }}</strong></td>
                            <td>{{ patient_item.sexe }}</td>
                            <td>{{ patient_item.age }} ans</td>
                            <td><div class="badge badge-info">{{ patient_item.service_patient }}</div></td>
                            <td>{{ patient_item.dateEn|date:"d/m/Y" }}</td>
                            <td>{{ patient_item.phone_responsable }}</td>
                            <td class="text-center">
                              <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                  Actions
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item has-icon" href="#"><i class="fas fa-edit"></i> Modifier</a>
                                  <a class="dropdown-item has-icon text-danger" href="#"><i class="fas fa-trash"></i> Supprimer</a>
                                </div>
                              </div>

                              <a href="{% url 'nouveau_paiement' patient_id=patient_item.id %}" class="btn btn-success">
                                <i class="fas fa-cash-register"></i> Encaisser
                              </a>

                              <a href="{% url 'liste_factures_patient' patient_id=patient_item.id %}" class="btn btn-outline-info">
                                <i class="fas fa-history"></i> Historique
                              </a>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; 2026 <div class="bullet"></div> G-HOSPITAL
        </div>
      </footer>
    </div>
  </div>

  <script src="{% static 'back/assets/js/app.min.js' %}"></script>
  <script src="{% static 'back/assets/bundles/datatables/datatables.min.js' %}"></script>
  <script src="{% static 'back/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'back/assets/bundles/datatables/export-tables/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'back/assets/bundles/datatables/export-tables/buttons.flash.min.js' %}"></script>
  <script src="{% static 'back/assets/bundles/datatables/export-tables/jszip.min.js' %}"></script>
  <script src="{% static 'back/assets/bundles/datatables/export-tables/pdfmake.min.js' %}"></script>
  <script src="{% static 'back/assets/bundles/datatables/export-tables/vfs_fonts.js' %}"></script>
  <script src="{% static 'back/assets/bundles/datatables/export-tables/buttons.print.min.js' %}"></script>
  <script src="{% static 'back/assets/js/page/datatables.js' %}"></script>
  <script src="{% static 'back/assets/js/scripts.js' %}"></script>
  <script src="{% static 'back/assets/js/custom.js' %}"></script>
</body>

</html>